<ul class="nav nav-tabs">
	{{#categories}}
		<li><a href="#forum_{{id}}" data-toggle="tab">{{title}}</a></li>
	{{/categories}}
	<li><input data-parent="#sidebarAccordion" class="form-control" type="search" value="" placeholder="Search"></li>
</ul>
<p>Combtooth blenny houndshark clown triggerfish paperbone,
						"European eel tilapia sea snail tilapia waryfish," Bitterling
						crocodile shark. Flagblenny Hammerjaw stonecat freshwater herring
						false brotula false moray; kanyu Atlantic eel blue triggerfish
						weeverfish Rainbowfish leaffish. Rudderfish alligatorfish,
						Billfish gray reef shark Razorback sucker flounder quillback;
						clownfish medusafish Atlantic trout? Gouramie bichir frilled shark
						dragonet spiny dogfish cuckoo wrasse.					
					</p>
<div class="tab-content">
{{#categories}}
<div class="tab-pane" id="forum_{{id}}">
	<table class="table table-striped tablesorter">
		<thead>
			<tr>
				<th>Title</th>
				<th>Author</th>
				<th>Date</th>
				<th>Last post</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>Reef triggerfish</td>
				<td>mouthbrooder</td>
				<td>1.1.2014.</td>
				<td>17.7.2012.</td>
			</tr>
			<tr>
				<td>golden shiner</td>
				<td>oceanic flyingfish</td>
				<td>21.10.2013.</td>
				<td>17.7.2012.</td>
			</tr>
			<tr>
				<td>ballan wrasse</td>
				<td>unicorn fish</td>
				<td>27.12.2012.</td>
				<td>17.7.2012.</td>
			</tr>
			<tr>
				<td>ghost flathead</td>
				<td>crappie</td>
				<td>8.6.2012.</td>
				<td>17.7.2012.</td>
			</tr>
			<tr>
				<td>neon tetra</td>
				<td>halosaur zebra</td>
				<td>11.1.2014.</td>
				<td>17.7.2012.</td>
			</tr>
			<tr>
				<td>firefish</td>
				<td>Sundaland noodlefish</td>
				<td>17.7.2012.</td>
				<td>17.7.2012.</td>
			</tr>
		</tbody>
	</table>
</div>
{{/categories}}
</div>